* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #000000;
    height: 8968px;
}

.contenedor-1080 {
    min-width: 1080px;
    max-width: 1080px;
}

/* MAQUETACION PRINCIPAL DE LA PAGINAA */

header {
    height: 227px;
    width: 100%;
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0.00) 100%);
    position: absolute;
    top: 0;
    z-index: 2;
}

.seccion-1 {
    width: 100%;
    height: 720px;
    position: absolute;
    top: 126px;
    overflow-x: clip;
}

.seccion-2 {
    height: 844.5px;
    width: 100%;
    background-image: url("../img/seccion-2.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 775px;
    z-index: 2;
    overflow-x: clip;
}

.seccion-3 {
    width: 100%;
    height: 1085px;
    background-color: #fff;
    position: absolute;
    top: 1472px;
}

.seccion-4 {
    width: 100%;
    height: 566px;
    background-image: url("../img/seccion-4.webp");
    background-size: 100% 100%;
    position: absolute;
    top: 2497px;
    z-index: 1;
}

.seccion-hulk {
    width: 100%;
    height: 769.5px;
    background-color: #000;
    position: absolute;
    top: 3063px;
}

.seccion-5 {
    width: 100%;
    height: 2194.5px;
    background-image: url("../img/seccion-5.webp");
    background-size: 100% 100%;
    position: absolute;
    top: 3832.5px;
}

.seccion-6 {
    width: 100%;
    height: 719.861px;
    background-image: url("../img/seccion-6.webp");
    background-size: 100% 100%;
    position: absolute;
    top: 6275px;
    z-index: 2;
    overflow: hidden;
}

.seccion-7 {
    width: 100%;
    height: 1296px;
    background-image: url("../img/seccion-7.webp");
    background-size: 100% 100%;
    position: absolute;
    top: 6994px;
    z-index: 1;
}

.seccion-8 {
    width: 100%;
    height: 80px;
    background: #242424;
    position: absolute;
    top: 8290px;
}

.seccion-9 {
    width: 100%;
    height: 598px;
    background: #5E5E5D;
    position: absolute;
    top: 8370px;
}

/* ---- TERMINA LA MAQUETACION ---- */


/* NAV NAVEGACION */
nav {
    height: 103px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
}

nav .contenedor-1080 {
    position: relative;
}

.btn-comprar {
    width: 200px;
    height: 50px;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    box-sizing: content-box;
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
    color: #02187E;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 900;
    line-height: 18.9px;
    position: absolute;
    top: 11.6504%;
    right: -8px;
    /* los 8 px por el borde */
    cursor: pointer;
    background-size: 200% 200%;
    transition: all 0.5s;
    -webkit-text-stroke: 2px;
    letter-spacing: 2px;
}

.btn-comprar:hover {
    background: #e0373f;
    color: white;
    font-size: 1.5em;
}

.menu-hamburguesa {
    position: absolute;
    width: 34px;
    height: 26px;
    top: 14%;
    left: -4px;
    filter: drop-shadow(4px 5px 0px #02187E);
    cursor: pointer;
}

.rect1 {
    position: absolute;
    width: 34px;
    height: 4px;
    top: 0;
    background-color: #FFE901;
    border-radius: 111px;
    border: 4px solid #2981FF;
}

.rect2 {
    position: absolute;
    width: 34px;
    height: 4px;
    top: 11px;
    background-color: #FFE901;
    border-radius: 111px;
    margin-bottom: 11px;
    border: 4px solid #2981FF;
}

.rect3 {
    position: absolute;
    width: 34px;
    height: 4px;
    top: 22px;
    background-color: #FFE901;
    border-radius: 111px;
    border: 4px solid #2981FF;
}

.girar1 {
    animation: rotarArriba 1s;
    animation-fill-mode: forwards;
}

.girar3 {
    animation: rotarAbajo 1s;
    animation-fill-mode: forwards;
}

.centro {
    position: absolute;
    width: 34px;
    height: 26px;
    top: 14%;
    left: -4px;
}

@keyframes rotarArriba {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-45deg) translate(-8px, 6px);
        box-shadow: none;
    }
}

@keyframes rotarAbajo {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg) translate(-9px, -8px);
        box-shadow: none;
    }
}

.volver2 {
    animation: volver 1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes volver {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.volver1 {
    animation: revertirRotarArriba 1s;
    animation-fill-mode: forwards;
}

.volver3 {
    animation: revertirRotarAbajo 1s;
    animation-fill-mode: forwards;
}

@keyframes revertirRotarArriba {
    0% {
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    100% {
        transform: rotate(0deg) translate(0, 0);
    }
}

@keyframes revertirRotarAbajo {
    0% {
        transform: rotate(45deg) translate(-9px, -8px);
    }

    100% {
        transform: rotate(0deg) translate(0, 0);
    }
}

.menu-desplegado {
    width: 174px;
    height: 229px;
    border: solid 4px #2982ff;
    position: absolute;
    top: 0;
    left: -20px;
    z-index: -1;
    background-color: #ffe901;
    border-radius: 12px;
    /* animation: aparecer-lado-izquierdo 1s forwards; */
}

.mi-carrito {
    width: 150px;
    height: 30px;
    border: solid;
    position: absolute;
    top: 70px;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 111px;
    border: 4px solid #f10408;
    box-sizing: content-box;
    background: #ffffff;
    box-shadow: 4px 5px 0px 0px #02187E;
    color: #02187E;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 18.9px;
    opacity: 0;
    animation: aparecer-lado-izquierdo 0.5s forwards;
    cursor: pointer;
}

.mis-personajes {
    width: 150px;
    height: 30px;
    border: solid;
    position: absolute;
    top: 120px;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 111px;
    border: 4px solid #f10408;
    box-sizing: content-box;
    background: #ffffff;
    box-shadow: 4px 5px 0px 0px #02187E;
    color: #02187E;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 18.9px;
    opacity: 0;
    animation: aparecer-lado-izquierdo 1s forwards;
    cursor: pointer;
}

.mis-compras {
    width: 150px;
    height: 30px;
    border: solid;
    position: absolute;
    top: 170px;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 111px;
    border: 4px solid #f10408;
    box-sizing: content-box;
    background: #ffffff;
    box-shadow: 4px 5px 0px 0px #02187E;
    color: #02187E;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 18.9px;
    opacity: 0;
    animation: aparecer-lado-izquierdo 1.5s forwards;
    cursor: pointer;
}

@keyframes aparecer-lado-izquierdo {
    0% {
        opacity: 0;
        transform: translateX(-25px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ---- TERMINA LA NAVEGACION ---- */

/* SECCION NUMERO 1  */

.cielo {
    width: 100%;
    height: 710.62px;
    background-image: url("../img/cielo.webp");
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    animation: aparicion-cielo 2s;
}

.edificio-izquierdo {
    width: 35.3125%;
    height: 100%;
    background-image: url("../img/edificio-izquierdo.webp");
    background-size: 100% 100%;
    position: absolute;
    top: 2.5%;
    left: -4%;
    z-index: 2;
    animation: aparicion-edificio-izquierdo 2s;
    pointer-events: none;
}

@keyframes aparicion-edificio-izquierdo {
    0% {
        transform: translateX(-15px);
    }

    100% {
        transform: translateX(0);
    }
}


.edificio-medio {
    width: 45%;
    height: 29.65%;
    background-image: url("../img/edificio-medio.webp");
    background-size: 100% 100%;
    position: absolute;
    left: 29%;
    bottom: 1.5px;
    z-index: 2;
    animation: aparicion-edificio-medio 2s;
}

@keyframes aparicion-edificio-medio {
    0% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }

}

.edificio-derecho {
    background-image: url("../img/edificio-derecho.webp");
    background-size: 100% 100%;
    width: 29.21%;
    height: 100.97%;
    position: absolute;
    right: 0;
    bottom: -1%;
    z-index: 2;
    animation: aparicion-edificio-derecho 2s;
    pointer-events: none;
}

@keyframes aparicion-edificio-derecho {
    0% {
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0);
    }
}

.spidey {
    background-image: url("../img/spidey.webp");
    background-size: 100% 100%;
    width: 46.09375%;
    height: 41.8055555556%;
    position: absolute;
    top: -4.8611111111%;
    /* left: 25.78125%; */
    left: 0;
    right: 0;
    margin: auto;
    z-index: 30;
    animation: aparicion-spidey 2s;
}

@keyframes aparicion-spidey {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}

.spiderman-blanco {
    background-image: url("../img/spiderman-blanco.webp");
    background-size: 100% 100%;
    width: 28.125%;
    height: 61.6666666667%;
    position: absolute;
    left: 7.03125%;
    top: 36.3888888889%;
    z-index: 3;
    opacity: 0.95;
    animation: aparicion-spiderman-blanco 2s;
}

@keyframes aparicion-spiderman-blanco {
    0% {
        transform: translateY(15px);
        transform: translatex(-35px);
    }

    100% {
        transform: translateY(0);
        transform: translatex(0);

    }
}

.spiderman-rojo-telaraña {
    background-image: url("../img/spiderman-rojo-telaraña.webp");
    background-size: 100% 100%;
    width: 67.890625%;
    height: 93.1944444444%;
    position: absolute;
    left: 0;
    top: 34.5833333333%;
    z-index: 3;
    opacity: 0.95;
    animation: aparicion-spiderman-rojo 2s;
}

@keyframes aparicion-spiderman-rojo {
    0% {
        transform: translateY(35px);
    }

    100% {
        transform: translateY(0);
    }
}

.spiderman-negro-telaraña {
    background-image: url("../img/spiderman-negro-telaraña.webp");
    background-size: 100% 100%;
    width: 45.703125%;
    height: 61.25%;
    position: absolute;
    right: 0;
    top: 29.0277777778%;
    z-index: 3;
    opacity: 0.95;
    animation: aparicion-spiderman-negro 2s;
}

@keyframes aparicion-spiderman-negro {
    0% {
        transform: translateY(15px);
        transform: translatex(35px);
    }

    100% {
        transform: translateY(0);
        transform: translatex(0);

    }
}

/* ----  TERMINA LA SECCION 1 ---- */


/* SECCION 2 */

.seccion-2-1080px {
    min-width: 1080px;
    max-width: 1080px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto
}

.muñeco-verde {
    background-image: url("../img/muñeco-verde.webp");
    background-size: 100% 100%;
    width: 553px;
    height: 921px;
    position: absolute;
    top: 131px;
    right: -85px;
    z-index: 3;
}

.titulo-seccion-2 {
    width: 646px;
    height: 114px;
    position: absolute;
    top: 218px;
    left: -5px;
}

.seccion-2-1080px h1 {
    text-align: left;
    color: #FFF;
    font-size: 60px;
    font-weight: 500;
    line-height: 94.5%;
    /* 56.7px */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;

}

.subtitulo-seccion-2 {
    width: 586px;
    height: 154px;
    position: absolute;
    top: 356px;
    left: -5px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.seccion2-img {
    width: 751.65px;
    height: 413.13px;
    position: absolute;
    top: 537.5px;
    left: -2px;
    overflow: hidden;
    transform: rotate(-2.222deg);
    box-sizing: border-box;
    border: solid 9px #FFFFFF;
    border-radius: 26px;
    box-shadow: 3px 6px 8px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---- TERMINA LA SECCION 2 ---- */


/* SECCION 3 */

.spiderman-card1 {
    background: url("../img/Spiderman1.webp");
    width: 332.96px;
    height: 302.691px;
    bottom: 414.31px;
    left: 0;
    position: absolute;
    flex-shrink: 0;
    border-radius: 41px;
    box-sizing: border-box;
    box-shadow: 4px 5px 0px 0px #02187E;
    opacity: 0;
}

.spiderman-card2 {
    background: url("../img/Spiderman2.webp");
    width: 332.96px;
    height: 302.691px;
    bottom: 414.31px;
    left: 372.96px;
    position: absolute;
    flex-shrink: 0;
    border-radius: 41px;
    box-sizing: border-box;
    box-shadow: 4px 5px 0px 0px #02187E;
    opacity: 0;

}

.spiderman-card3 {
    background: url("../img/Spiderman3.webp");
    width: 332.96px;
    height: 302.691px;
    bottom: 414.31px;
    right: 0;
    position: absolute;
    flex-shrink: 0;
    border-radius: 41px;
    box-sizing: border-box;
    box-shadow: 4px 5px 0px 0px #02187E;
    opacity: 0;

}

.card-texto1 {
    width: 333px;
    height: 218px;
    flex-shrink: 0;
    position: absolute;
    left: 0;
    bottom: 173px;
}

.card-texto2 {
    width: 333px;
    height: 218px;
    flex-shrink: 0;
    position: absolute;
    left: 374px;
    bottom: 173px;
}

.card-texto3 {
    width: 333px;
    height: 218px;
    flex-shrink: 0;
    position: absolute;
    left: 748px;
    bottom: 173px;
}

.texto-card {
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0;
}

.animacion-card1 {
    animation-name: aparecerCard1;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

@keyframes aparecerCard1 {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animacion-card2 {
    animation-name: aparecerCard2;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes aparecerCard2 {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animacion-card3 {
    animation-name: aparecerCard3;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}

@keyframes aparecerCard3 {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



/* ----TERMINO LA SECCION 3---- */


/* SECCION 4 */

.seccion-4 svg {
    position: absolute;
}

.seccion-4-parte-1 {
    width: 546.11px;
    height: 326.51px;
    position: absolute;
    top: -99.45px;
    left: 80.73px;
    transform: rotate(-13.078deg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: none;
    transition: transform 0.5s ease;
}

.seccion-4-parte-2 {
    width: 543.22px;
    height: 325.79px;
    position: absolute;
    top: 84.4px;
    left: 79.13px;
    transform: rotate(-26.474deg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    pointer-events: none;
    transition: transform 0.5s ease;
}

.seccion-4-parte-3 {
    width: 546.11px;
    height: 326.51px;
    position: absolute;
    top: 298.38px;
    left: 110px;
    transform: rotate(-36.016deg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    pointer-events: none;
    transition: transform 0.5s ease;
}

#miPoligono1 {
    pointer-events: auto;
    cursor: pointer !important;
}

#miPoligono2 {
    pointer-events: auto;
    cursor: pointer !important;
}

#miPoligono3 {
    pointer-events: auto;
    cursor: pointer !important;
}

/* ---- TERMINA SECCION 4 ----  */


/* SECCION HULK */

.seccion5-1077 {
    min-width: 1077.06px;
    max-width: 1077.06px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto
}

.seccion5-1077 p {
    color: #FFF;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
    /* 56.7px */
    position: absolute;
    top: 163px;
    left: 0;
}

.cielo-hulk {
    background-image: url("../img/cielo-seccion-5.webp");
    background-size: 100% 100%;
    background-repeat: repeat;
    width: 1077.06px;
    height: 527.63px;
    position: absolute;
    /* top: 389.11px; */
    top: 0;
    z-index: 1;
}

.sombra-cielo {
    box-shadow: 26px 29px 41px 14px rgba(0, 0, 0, 0.15);
}

.arboles-hulk {
    background-image: url("../img/arboles-seccion-5.webp");
    background-size: 100% 100%;
    background-repeat: repeat;
    width: 1077.06px;
    height: 527.63px;
    position: absolute;
    /* top: 389.11px; */
    top: 0;
    z-index: 2;
}

.pasto-hulk {
    background-image: url("../img/pasto-seccion-5.webp");
    background-size: 100% 100%;
    width: 1077.06px;
    height: 527.63px;
    position: absolute;
    top: 389.11px;
    /* top: 0; */
    z-index: 6;
}

.personaje-negro-hulk {
    background-image: url("../img/personaje-negro-seccion-5.webp");
    background-size: 100% 100%;
    width: 368.31px;
    height: 552.46px;
    position: absolute;
    top: 169.59px;
    /* bottom: 194.68px; */
    right: 198.66px;
    z-index: 5;
    transform: rotate(13.615deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hulk {
    background-image: url("../img/hulk.webp");
    background-size: 100% 100%;
    width: 410.11px;
    height: 437.97px;
    position: absolute;
    top: 519.94px;
    /* top: 130.83px; */
    right: -30.17px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    transform: rotate(7.515deg);
}

.personaje-chicha-hulk {
    background-image: url("../img/personaje-chica-seccion-5.webp");
    background-size: 100% 100%;
    width: 451.26px;
    height: 591.44px;
    position: absolute;
    top: 335.78px;
    /* top: -53.33px; */
    left: 84.99px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-12.483deg);
}

.prueba {
    width: 1076.06px;
    height: 527.63px;
    position: absolute;
    top: 389.11px;
    box-sizing: content-box;
    z-index: 3;
    overflow: hidden;
}

.prueba2 {
    width: 1077.06px;
    height: 527.63px;
    position: absolute;
    top: 389.11px;
    z-index: 10;
}

/* ---- TERMINANDO LA SECCION HULK */


/* SECCION 5 */

.titulo-seccion-5 {
    position: absolute;
    width: 802px;
    top: 254px;
    display: flex;
}

.diversion {
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
}

.juego1 {
    position: absolute;
    width: 552px;
    height: 302.762px;
    flex-shrink: 0;
    top: 380.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.img-1 {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
}

.img-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
}

.img-3 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
}

.img-4 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 25s;
}

.titulo-juego {
    position: absolute;
    width: 467px;
    top: 380.5px;
    left: 609px;
}

.info-juego {
    position: absolute;
    left: 609px;
    top: 481.5px;
}


.titulos-imagen {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
}

.texto-info-juego {
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
}

.juego2 {
    position: absolute;
    width: 548px;
    height: 305px;
    flex-shrink: 0;
    top: 783.5px;
    left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-juego2 {
    position: absolute;
    width: 467px;
    left: 609px;
    top: 783.5px;
}

.info-juego2 {
    position: absolute;
    top: 884.5px;
    left: 609px;
}

.juego3 {
    position: absolute;
    width: 556px;
    height: 301.51px;
    flex-shrink: 0;
    top: 1209.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-juego3 {
    position: absolute;
    width: 467px;
    left: 609px;
    top: 1205.5px;
}

.info-juego3 {
    position: absolute;
    top: 1344.5px;
    ;
    left: 609px;
}

.juego4 {
    position: absolute;
    width: 552px;
    height: 308.25px;
    flex-shrink: 0;
    bottom: 163.75px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.titulo-juego4 {
    position: absolute;
    top: 1722.5px;
    width: 467px;
    left: 609px;
}

.info-juego4 {
    position: absolute;
    width: 467px;
    bottom: 200px;
    left: 609px;
}


.ocultar {
    display: none;
}

.texto1-aparecer {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.texto2-aparecer {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.texto3-aparecer {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.texto4-aparecer {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* ---- TERMINA LA SECCION 5 ---- */



/* SECCION COMPRA INTERMEDIA */

.comprar-intermedia {
    width: 100%;
    height: 248px;
    position: absolute;
    top: 6027px;
}

.titulo-intermedio {
    position: absolute;
    width: 816px;
    top: 25px;
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.btn-intermedio {
    position: absolute;
    top: 203px;
    width: 292px;
    height: 50px;
    box-sizing: border-box;
    flex-shrink: 0;
    border-radius: 111px;
    box-sizing: content-box;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
    color: #02187E;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 18.9px;
    transition: all 0.5s;
    z-index: 4;
    cursor: pointer;
    -webkit-text-stroke: 2px;
    letter-spacing: 2px;
}

.btn-intermedio:hover {
    background: #e0373f;
    color: white;
    font-size: 1.5em;
}

/* ---- TERMINA LA SECCION COMPRA INTERMEDIA ---- */

/* SECCION 6 */

.seccion-6-img-1 {
    position: absolute;
    width: 268px;
    height: 416.5px;
    flex-shrink: 0;
    left: 90px;
    top: 171.5px;
    box-sizing: border-box;
    transition: transform 0.5s ease;
    z-index: 6;
}

.seccion-6-img-1 svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 15px;
    left: 0;
}

.hover-img1-seccion6 {
    cursor: pointer;
}

.seccion-6-img-2 {
    position: absolute;
    width: 416.5px;
    height: 457.5px;
    flex-shrink: 0;
    left: 294px;
    top: 180.14px;
    z-index: 3;
    pointer-events: none;
    transition: transform 0.5s ease;
    z-index: 6;
}

.seccion-6-img-2 svg {
    width: 86%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 49px;
}

.hover-img2-seccion6 {
    cursor: pointer;
    pointer-events: auto;
    transition: transform 0.5s ease;
}

.seccion-6-img-3 {
    position: absolute;
    width: 313.5px;
    height: 398.5px;
    flex-shrink: 0;
    top: 180.14px;
    right: 89.5px;
    transition: transform 0.5s ease;
    z-index: 6;
}

.seccion-6-img-3 svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 17px;
    left: 46px;
}

.hover-img3-seccion6 {
    cursor: pointer;
}

.hover-spidermans {
    width: 100%;
    height: 719.861px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

/* ---- TERMINA LA SECCION 6 ---- */

/* SECCION 7  */

.seccion-7 img {
    width: 100%;
    height: 100%;
}

.edificios-seccion-sprisheet {
    width: 100%;
    height: 55.55%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spiderman-rojo-sprisheet {
    width: 7.578125%;
    height: 6.8672839506%;
    position: absolute;
    left: 17.109375%;
    bottom: 5.4783950617%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes tira-telaraña {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 420px;
    }

}


.sprisheet-spiderman-telaraña {
    background-image: url("../img/tiraCompletaSprisheetRojo.webp");
    width: 97px;
    height: 116px;
    position: absolute;
    bottom: 5.4783950617%;
    left: 17.109375%;
    animation: giro-telaraña 2s steps(7) infinite;
    cursor: pointer;
}

@keyframes giro-telaraña {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 679px;
    }
}

.sprisheet-spiderman-telaraña:hover {
    background-image: url("../img/sprisheet-tirando-telaraña.webp");
    background-repeat: repeat-x;
    width: 140px;
    height: 116px;
    animation: tira-telaraña 2s steps(3) infinite;
}

.spiderman-blanco-sprisheet {
    width: 4.53125%;
    height: 4.9382716049%;
    position: absolute;
    top: 82.7160493827%;
    left: 41.640625%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spiderman-rojo-2-sprisheet {
    width: 7.34275%;
    height: 6.7901234568%;
    position: absolute;
    top: 74.7685185185%;
    right: 14.6875%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion7-capcha {
    width: 18.046875%;
    height: 11.1882716049%;
    position: absolute;
    top: 47.8395061728%;
    left: 23.59375%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-seccion7 {
    width: 60.9375%;
    height: 7.7160493827%;
    position: absolute;
    top: 28.4722222222%;
    left: 19.53125%;
    display: flex;
}

.input-seccion7 input {
    width: 72.0512820513%;
    border-radius: 50px 0px 0px 50px;
    border-top: 9px solid #2982FF;
    border-bottom: 9px solid #2982FF;
    border-left: 9px solid #2982FF;
    border-right: none;
    background: #FFF;
    box-shadow: 4px 5px 0px 0px #02187E;
    color: rgba(0, 0, 0, 0.39);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    letter-spacing: 2.2px;
}

.input-seccion7 input:focus {
    outline: none;
}

.input-seccion7 input::placeholder {
    padding-left: 52px;
}

.input-seccion7 button {
    width: 27.9487179487%;
    height: 100%;
    border-radius: 0px 50px 50px 0px;
    border: 9px solid #2982FF;
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
    color: #02187E;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
    -webkit-text-stroke: 2px;
    letter-spacing: 2px;
}

.seccion-7-titulo {
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
    position: absolute;
    width: 63.75%;
    height: 13.1944444444%;
    top: 11.7283950617%;
    left: 18.125%;
}

.seccion-7-texto {
    width: 45.15625%;
    height: 7.3302469136%;
    position: absolute;
    top: 39.1975308642%;
    left: 23.59375%;
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
}

.seccion-7-texto-span {
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    text-decoration-line: underline;
}

/* ---- TERMINA LA SECCION 7 ---- */


/* SECCION 8 */

.seccion-8-1080 {
    min-width: 1080px;
    max-width: 1080px;
    height: 75px;
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 4px;
    background-image: url("../img/anuncios.webp");
    background-size: 100% 100%;
}

/* ---- TERMINO LA SECCION 8 ---- */

/* SECCION 9 */

.derecho {
    position: absolute;
    width: 820px;
    top: 38px;
}

.texto-derecho {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.9px;
    letter-spacing: 2.2px;
}

.privacidad {
    margin-left: 7px;
}

.redes-sociales {
    position: absolute;
    width: 212px;
    height: 41px;
    background-color: #FFE901;
    bottom: 120px;
}

/* ---- TERMINO SECCION 9 ---- */

/* LOADING */

.contenedor-loading {
    width: 100%;
    height: 100vh !important;
    background-color: red;
}

.telaraña {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girar 4s linear infinite;
}

@keyframes girar {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.contenedor-contador {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;

}

.contador {
    color: #FFF;
    font-size: 30px;
    font-weight: 600;

}

.ocultar {
    display: none;
}

/* ---- TERMINA EL LOADING ---- */

/* ARRANCO POP UP */

.personaje-1 {
    width: 1280px;
    height: 832px;
    background-color: #000;
}

.foto-popup {
    position: absolute;
    width: 284px;
    height: 715px;
    background-color: #3b3a2d;
    left: 61px;
    top: 58px;
    /* bottom: 59px; */
}

.titulo-nombre-personaje {
    position: absolute;
    width: 724px;
    left: 398px;
    top: 58px;
}

.nombre {
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.texto-personaje {
    position: absolute;
    width: 724px;
    left: 404px;
    top: 140px;
}

.info-personaje {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cerrar-popup {
    position: absolute;
    top: 28px;
    right: 35px;
}

.circulo-popup {
    fill: #FFF;
    cursor: pointer;
}


.cruz {
    position: absolute;
    right: 26.38px;
    top: 29px;
}

/* TERMINA EL  POP UP */


@media screen and (max-width: 1200px) {

    body {
        width: 100%;
        height: 100vh !important;
        background-color: #fff;
    }

    .mensaje {
        display: flex !important;
        justify-content: center;
        align-items: center;
        color: #000;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        background: linear-gradient(to right, #FF6A00, #EE0979);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 35px;
        font-style: normal;
        font-weight: 800;

        line-height: normal;
        text-align: center;
    }

    .mensaje div {
        width: 90%;
    }

    .contendor-principal {
        display: none;
    }

    .contenedor-loading {
        display: none;
    }
}

.mensaje {
    display: none;
}