* {
    padding: 0;
    margin: 0;
}

.contenedor-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #00004F;
}

.contador {
    font-weight: 300;
    font-size: 23px;
    color: #EFEFFF;
    margin-bottom: 20px;
}

.loader {
    width: 50px;
}


.loader {
    --clr: #008F39;
    --load-time: 5s;
    outline: 5px solid var(--clr);
    outline-offset: 5px;
    position: relative;
    overflow: hidden;
    border-radius: 5rem;
    padding: 1rem 5rem;
}

.loader::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr);
    z-index: 2;
    animation: loading var(--load-time) linear;
}

@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.contenedor {
    background-color: #00001D;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh auto auto 30vh;
    grid-template-areas:
        "header"
        "recomendados"
        "medio"
        "footer";
}

/* opacidad de las cards general para todas */

.opacidad-cards {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 29, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    display: none;
}

.titulo-del-juego-card-box {
    color: #EFEFFF;
    font-weight: 600;
    margin-bottom: 3px;
    text-align: center;
}

/* recomendados */

.recomendados {
    width: 100%;
    grid-area: recomendados;
    z-index: 0;
    position: relative;
}

.contenedor-carrusel-recomendado {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.nombre-categoria-recomendado {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EFEFFF;
}

.nombre-categoria-recomendado h2 {
    font-size: 18px;
    text-align: center;
}

.contenedor-cards-recomendado {
    width: 190px;
    height: 230px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
}

.contenedor-cards-recomendado::-webkit-scrollbar {
    overflow-x: hidden;
}

.indicadores {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 9px;
}

.indicador {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.card_box-recomendada {
    margin: 0 10px;
    flex: 0 0 auto;
    width: 175px;
    height: 190px;
    border-radius: 15px;
    background: #EFEFFF;
    position: relative;
    transition: all .3s;
}

.card_box-recomendada:hover {
    transform: scale(0.9);
}

.card_box-recomendada:hover .opacidad-cards {
    display: flex;
}

.card_box-recomendada span {
    position: absolute;
    overflow: hidden;
    width: 150px;
    height: 150px;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_box-recomendada span::before {
    content: 'Gratis';
    position: absolute;
    top: 42px;
    width: 145%;
    height: 40px;
    background-image: linear-gradient(20deg, #008F39 5%, #008F39 51%, #008F39 100%);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 22px;
}

.card_box-recomendada span::after {
    content: '';
    position: absolute;
    width: 10px;
    bottom: 13px;
    left: 0;
    height: 10px;
    z-index: -1;
    box-shadow: 127px -127px #cc3f47;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
}

.btn-card-recomendada {
    position: relative;
    background-color: rgb(230, 34, 77);
    color: #fff;
    border: none;
    font-size: 20px;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}

.card-parte-boton .btn-card-recomendada {
    border: none;
    width: 160px;
    height: 35px;
    border-radius: 10px;
    padding: 2px 8px;
    background-color: #08CE57;
}

.btn-card-recomendada::before {
    content: "";
    background-color: rgb(248, 50, 93);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 500ms ease-in-out;
    display: inline-block;
}

.btn-card-recomendada:hover::before {
    width: 100%;
}

/* ARRANCO LOS CARRUSELES DE JUEGO */

.carruseles {
    width: 100%;
    grid-area: medio;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    z-index: 0;
}

.contenedor-carrusel {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 155px;
    margin: 10px 0;
}

.contenedor-cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
    margin-top: 10px;
}

.contenedor-cards::-webkit-scrollbar {
    display: none;
}

.nombre-categoria {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: end;
}

.nombre-categoria h2 {
    padding-left: 10px;
    font-size: 20px;
    color: #EFEFFF;
}

.ver-mas {
    text-decoration: none;
    margin-left: 15px;
    font-weight: 600;
    color: #7676FF;
}

.ver-mas:hover {
    text-decoration: underline;
    transform: scale(1.2);
    opacity: 0.8;
    transition: all 0.5s;
}

.card {
    flex: 0 0 auto;
    height: 100px;
    width: 90px;
    margin: 0 10px;
    background-color: bisque;
    border: solid 2px wheat;
}

.card-parte-imagen {
    width: 100%;
    height: 65%;
}

.card-parte-imagen img {
    width: 100%;
    height: 100%;
}

.card-parte-boton {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flecha {
    display: none;
}

/* ARRANCA LAS CARD GRATIS*/

.parte-img {
    height: 65%;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
}

.img-card-nueva {
    width: 100%;
    height: 100%;
}

.card_box {
    flex: 0 0 auto;
    margin: 0 15px;
    width: 105px;
    height: 120px;
    border-radius: 10px;
    background: #EFEFFF;
    position: relative;
    transition: all .3s;
}


.card_box:hover .opacidad-cards {
    display: flex;
}

.card_box:hover {
    transform: scale(0.9);
}

.card_box span {
    position: absolute;
    overflow: hidden;
    width: 95px;
    height: 87px;
    top: -5px;
    left: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_box span::before {
    content: 'Gratis';
    position: absolute;
    top: 41px;
    width: 150%;
    height: 18px;
    background-image: linear-gradient(20deg, #008F39 5%, #008F39 51%, #008F39 100%);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 12px;
}

.card_box span::after {
    content: '';
    position: absolute;
    width: 5px;
    bottom: 5px;
    left: 1px;
    height: 10px;
    z-index: -1;
    box-shadow: 76px -75px #cc3f47;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
}


/*BOTON ANIMADO DE CARD GRATIS Y COMPRADO  */

.btn-card {
    position: relative;
    background-color: rgb(230, 34, 77);
    color: #fff;
    border: none;
    font-size: 20px;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}

.card-parte-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    width: 100%;
}

.card-parte-boton .btn-card {
    border: none;
    width: 82px;
    height: 16px;
    border-radius: 10px;
    padding: 2px 8px;
    background-color: #08CE57;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.btn-card::before {
    content: "";
    background-color: rgb(248, 50, 93);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 500ms ease-in-out;
    display: inline-block;
}

.btn-card:hover::before {
    width: 100%;
}

/* TERMINA GRATIS, SIGO CARD CON LA COMPRA */

.card_box .span-comprar::before {
    content: 'comprado';
    top: 41px;
    width: 150%;
    height: 18px;
    background-image: linear-gradient(20deg, #E5BE01 5%, #E5BE01 51%, #E5BE01 100%);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 12px;
}

.card_box .span-comprar::after {
    content: '';
    position: absolute;
    width: 5px;
    bottom: 5px;
    left: 1px;
    height: 10px;
    z-index: -1;
    box-shadow: 76px -75px #cc3f47;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
}

/* CARD COMPRAR */
.card-boton-comprar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
}

/* BOTON DE AGREGAR AL CARRITO */
.CartBtn {
    border: none;
    width: 82px;
    height: 16px;
    border-radius: 10px;
    padding: 2px 8px;
    background-color: #1F1FFF;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
}

.IconContainer {
    position: absolute;
    left: -58px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
}

.IconContainer svg {
    padding-left: 5px;
}

.icon {
    border-radius: 1px;
}

.text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EFEFFF;
    z-index: 1;
    transition-duration: .5s;
    font-size: 8px;
    font-weight: 600;
}

.CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
}

.CartBtn:hover .text {
    margin-right: 5px;
    transform: translate(10px, 0px);
    transition-duration: .5s;
}

.CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
}

.card-nombre-precio {
    height: 10%;
    display: flex;
    width: 100%;
    justify-content: center;
}

.card-nombre-precio p {
    margin: 0 -3px;
    text-shadow: 1px 1px 2px rgb(0, 0, 29, 0.5);
}

.texto-resaltado {
    text-align: center;
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1.0px;
    position: relative;
}

.oferta {
    color: var(--color-rojo);
    text-decoration: line-through;
    position: absolute;
    left: 10%;
    font-size: 9px;
    height: 10%;
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 0 4px;
    padding-top: 1px;
}

/* BOTON YA AGREGADO AL CARRITO */

.card-boton-agregadoCarrito {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
}

.agregado-al-carrito {
    width: 82px;
    height: 16px;
    background-color: #7676FF;
    color: #EFEFFF;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 10px;
    padding: 2px 8px;
    font-size: 8px;
    font-weight: 600;
    margin: 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tacho-basura {
    background-color: #DE0606;
    border: none;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 2px;
    cursor: pointer;
}

.tacho-basura img {
    width: 80%;
    height: 80%;
}

/* PARA ESCRITORIO */

@media (min-width: 1024px) {


    /* carrusel chico */
    .carruseles {
        width: 100%;
        grid-area: medio;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        z-index: 0;
        position: relative;
    }

    .contenedor-carrusel {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 285px;
        margin: 10px 0;
    }

    .contenedor-cards {
        width: 80%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        align-items: center;
        scroll-behavior: smooth;
        margin: 0;
    }

    .ver-mas {
        padding-bottom: 2px;
    }

    .contenedor-cards::-webkit-scrollbar {
        display: none;
    }

    .nombre-categoria {
        width: 80%;
        height: 30px;
        display: flex;
        align-items: end;
    }

    .nombre-categoria h2 {
        padding-left: 10px;
        font-size: 20px;
        color: #EFEFFF;
    }

    .card {
        flex: 0 0 auto;
        height: 190px;
        width: 160px;
        margin: 0 10px;
        background-color: bisque;
        border: solid 2px wheat;
    }

    .card-parte-imagen {
        width: 100%;
        height: 65%;
    }

    .card-parte-imagen img {
        width: 100%;
        height: 100%;
    }


    .flecha {
        display: flex;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .flecha-izquierda {
        position: absolute;
        left: 70px;
        top: 95px;
    }

    .flecha-derecha {
        position: absolute;
        right: 70px;
        top: 95px;
    }

    /* recomendados para escritorio */

    .recomendados {
        display: flex;
        justify-content: center;
    }

    .contenedor-cards-recomendado {
        width: 50%;
        justify-content: space-evenly;
        overflow: hidden;
    }

    .indicadores {
        display: none;
    }

    /* TODAS LAS CARD PARA ESCRITORIO */
    /* ARRANCA LAS CARD GRATIS*/

    .parte-img {
        height: 65%;
        overflow: hidden;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    .img-card-nueva {
        width: 100%;
        height: 100%;
    }

    .card_box {
        width: 175px;
        height: 190px;
        border-radius: 15px;
        background: #EFEFFF;
        position: relative;
        box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
        transition: all .3s;
    }

    .card_box:hover {
        transform: scale(0.9);
    }

    .card_box span {
        position: absolute;
        overflow: hidden;
        width: 150px;
        height: 150px;
        top: -10px;
        left: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card_box span::before {
        content: 'Gratis';
        position: absolute;
        left: -42px;
        top: 49px;
        width: 145%;
        height: 27px;
        background-image: linear-gradient(20deg, #008F39 5%, #008F39 51%, #008F39 100%);
        transform: rotate(-45deg) translateY(-20px);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: 600;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
        font-size: 16px;
    }

    .card_box span::after {
        content: '';
        position: absolute;
        width: 10px;
        bottom: 28px;
        left: 0;
        height: 10px;
        z-index: -1;
        box-shadow: 111px -112px #cc3f47;
        background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    }

    /* TERMINA GRATIS, SIGO CARD CON LA COMPRA */

    .card_box .span-comprar::before {
        content: 'Comprada';
        position: absolute;
        left: -42px;
        top: 49px;
        width: 145%;
        height: 27px;
        background-image: linear-gradient(20deg, #E5BE01 5%, #E5BE01 51%, #E5BE01 100%);
        transform: rotate(-45deg) translateY(-20px);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: 600;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
        font-size: 16px;
    }

    .card_box .span-comprar::after {
        content: '';
        position: absolute;
        width: 10px;
        bottom: 28px;
        left: 0;
        height: 10px;
        z-index: -1;
        box-shadow: 111px -112px #cc3f47;
        background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    }

    /*BOTON ANIMADO DE CARD GRATIS Y COMPRADO  */

    .btn-card {
        position: relative;
        background-color: rgb(230, 34, 77);
        color: #fff;
        border: none;
        font-size: 20px;
        z-index: 1;
        overflow: hidden;
        cursor: pointer;
    }

    .card-parte-boton {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35%;
        width: 100%;
    }

    .card-parte-boton .btn-card {
        border: none;
        width: 130px;
        height: 30px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.1em;
        color: #00001D;
        border-radius: 10px;
        padding: 2px 8px;
        background-color: #08CE57;
    }

    .btn-card::before {
        content: "";
        background-color: rgb(248, 50, 93);
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 500ms ease-in-out;
        display: inline-block;
    }

    .btn-card:hover::before {
        width: 100%;
    }

    /* CARD COMPRAR */
    .card-boton-comprar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15%;
        width: 100%;
    }

    /* PARTE DEL BTN AGREGADO AL CARRITO */

    .card-boton-agregadoCarrito {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15%;
        width: 100%;
    }

    .agregado-al-carrito {
        width: 130px;
        height: 30px;
        background-color: #7676FF;
        color: #EFEFFF;
        letter-spacing: 0.1em;
        border: none;
        border-radius: 10px;
        padding: 2px 8px;
        font-size: 12px;
        font-weight: 600;
        margin: 0 2px;
    }

    .tacho-basura {
        background-color: #1F1FFF;
        border: none;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 10px;
        margin: 0 2px;
        cursor: pointer;
    }

    .tacho-basura:hover {
        background-color: #DE0606;
        transition: all 0.5s;
        transform: scale(1.1);
    }

    .tacho-basura img {
        width: 80%;
        height: 80%;
    }

    /* BOTON DE COMPRAR */
    .CartBtn {
        width: 130px;
        height: 30px;
        background-color: #1F1FFF;
        color: #EFEFFF;
        letter-spacing: 0.1em;
        border: none;
        border-radius: 10px;
        padding: 2px 8px;
        font-size: 12px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition-duration: .5s;
        overflow: hidden;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
        position: relative;
    }

    .IconContainer {
        position: absolute;
        left: -58px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        z-index: 2;
        transition-duration: .5s;
    }

    .IconContainer svg {
        height: 0.9rem;
        padding-right: 4px;
    }

    .icon {
        border-radius: 1px;
    }

    .text {
        height: 100%;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #EFEFFF;
        z-index: 1;
        transition-duration: .5s;
        font-size: 12px;
        font-weight: 600;
    }

    .CartBtn:hover .IconContainer {
        transform: translateX(58px);
        border-radius: 40px;
        transition-duration: .5s;
    }

    .CartBtn:hover .text {
        transform: translate(10px, 0px);
        transition-duration: .5s;
    }

    .CartBtn:active {
        transform: scale(0.95);
        transition-duration: .5s;
    }

    .card-nombre-precio {
        height: 10%;
    }

    .texto-resaltado {
        text-align: center;
        height: 100%;
        margin: 0;
        font-size: 15px;
        color: #00001D;
        font-style: normal;
        letter-spacing: 1.0px;
    }

    .card_box-recomendada {
        width: 210px;
        height: 260px;
    }

    .contenedor-cards-recomendado {
        height: 320px;
        width: 60%;
    }

    .oferta {
        color: var(--color-rojo);
        text-decoration: line-through;
        position: absolute;
        left: 20%;
        font-size: 12px;
        height: 10%;
        display: flex;
        align-items: center;
        font-weight: 600;
    }
}


.card-efecto {
    transform: scale(1.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.5s ease;
}