@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.contenedor {
    background-color: #00001D;
    width: 100%;
    display: grid;
    grid-template-columns: 7% 71% 5% 10% 7%;
    grid-auto-rows: 100%;
    grid-template-rows: 10vh 5vh 95vh 6vh 25vh 6vh auto 6vh 75vh 6vh 25vh;
    grid-template-areas:
        "header header header header header"
        " . br-es . . ."
        ". juego . anuncio ."
        ". . . . ."
        ". mas-juegos mas-juegos mas-juegos ."
        ". . . . ."
        ". info info info ."
        ". . . . ."
        ". comentarios . anuncio2 ."
        ". . . . ."
        "footer footer footer footer footer";
}

.juego-header {
    position: relative !important;
}

/* SECCION ESTRELLAS */
.estrellas {
    display: flex;
    justify-content: end;
}

.estrellas img {
    margin: 0 3px;
}

/* SECCION JUEGO */

.juego {
    grid-area: juego;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, red, yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.juego-oculto {
    background-color: #00001D;
    width: 100%;
    height: 92%;
    position: absolute;
    top: 0;
    z-index: 0;
    opacity: 0.9;
}

.escape {
    position: absolute;
    top: 2%;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    z-index: 1;
}

.escape p {
    height: 100%;
    font-size: 18px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #616161;
    border-radius: 5px;
}

.escape span {
    height: 80%;
    width: auto;
    border: solid 2px #EFEFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    margin: 0 3px;
}

.seguro {
    width: 400px;
    height: 150px;
    border: solid 2px #EFEFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #EFEFFF;
    background-color: rgb(0, 0, 0, 0.4);
}

.estas-seguro {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    font-size: 17px;
    font-weight: bold;
}

.btn-seguro {
    display: flex;
    width: 100%;
    justify-content: center;
}

.cambiar-tablero {
    background-color: #FF8000;
    width: 160px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #EFEFFF;
    border: solid 2px #00001D;
    cursor: pointer;
    margin: 0 5px;
}

.cambiar-tablero:hover {
    background-color: #df6f00;
    border: solid 2px #EFEFFF;
}

.cancelar-tablero {
    background-color: #EFEFFF;
    width: 130px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #00001D;
    border: solid 2px #00001D;
    cursor: pointer;
    margin: 0 5px;
}

.cancelar-tablero:hover {
    background-color: #616161;
    color: #EFEFFF;
    border: solid 2px #EFEFFF;
}

.pantallaCompleta {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "juego";
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.contenedor-video {
    width: 22%;
    height: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    background-color: #EFEFFF;
}

.video {
    width: 100%;
    height: 70%;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.video video {
    height: 100%;
}

.contenedor-btn-jugar {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECCION JUEGANDO */

.contenedor-jugando {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #08CE57;
}

.seguro-salir {
    width: 400px;
    height: 150px;
    border: solid 2px #EFEFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #EFEFFF;
    background-color: rgb(0, 0, 0, 0.4);
    z-index: 1;
}

.cancelar-salir {
    background-color: #EFEFFF;
    width: 130px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #00001D;
    border: solid 2px #00001D;
    cursor: pointer;
    margin: 0 5px;
}

.cancelar-salir:hover {
    background-color: #616161;
    color: #EFEFFF;
    border: solid 2px #EFEFFF;
}

.salir-btn {
    background-color: #FF8000;
    width: 160px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #EFEFFF;
    border: solid 2px #00001D;
    cursor: pointer;
    margin: 0 5px;
}

.salir-btn:hover {
    background-color: #df6f00;
    border: solid 2px #EFEFFF;
}

.ganador {
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 245px;

    font-size: 20px;
}

#ficha-ganadora {
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50px;
    overflow: hidden;
    border: solid 2px #00001D;
}

.reiniciarJuego {
    width: 400px;
    height: 150px;
    border: solid 2px #EFEFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #EFEFFF;
    background-color: rgb(0, 0, 0, 0.4);
    z-index: 1;
}

.estas-seguro-reiniciar {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    font-size: 17px;
    font-weight: bold;
}

.cancelar-reinicio {
    background-color: #EFEFFF;
    width: 130px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #00001D;
    border: solid 2px #00001D;
    cursor: pointer;
    margin: 0 5px;
}

.cancelar-reinicio:hover {
    background-color: #616161;
    color: #EFEFFF;
    border: solid 2px #EFEFFF;
}

.reiniciar-tablero {
    background-color: #FF8000;
    width: 160px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #EFEFFF;
    border: solid 2px #00001D;
    cursor: pointer;
    margin: 0 5px;
}

.reiniciar-tablero:hover {
    background-color: #df6f00;
    border: solid 2px #EFEFFF;
}

.empate {
    width: 400px;
    height: 150px;
    border: solid 2px #EFEFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #EFEFFF;
    background-color: rgb(0, 0, 0, 0.4);
    font-size: 20px;
    align-items: center;
    font-weight: bold;
    z-index: 1;
    letter-spacing: 1px;
    user-select: none;
}


.empate-btn {
    width: 160px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #08CE57;
    cursor: pointer;
    border: solid 2px #00001D;
    margin-top: 10px;
    color: #00001D;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.empate-btn:hover {
    background-color: #008F39;
    border: solid 2px #EFEFFF;
}

.cuatro-linea {
    width: 100%;
    height: 92%;
    background-color: #B1B0FE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuatro-linea img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* btn pausa */
#pause-button {
    position: absolute;
    top: 3px;
    left: 3px;
    cursor: pointer;
    z-index: 1;
    width: 100px;
    height: 30px;
    background-color: #E5BE01;
    border: solid 2px #00001D;
    opacity: 0.8;
    font-weight: 700;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pause-button:hover {
    opacity: 1;

}

.btn-replay {
    position: absolute;
    top: 36px;
    left: 3px;
    cursor: pointer;
    z-index: 1;
    width: 100px;
    height: 30px;
    background-color: #E5BE01;
    border: solid 2px #00001D;
    opacity: 0.8;
    font-weight: 700;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-replay {
    opacity: 1;
}

.btn-cruz-juego {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.elegir-tablero {
    width: 300px;
    height: 175px;
    border: solid 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elegir-tablero button {
    cursor: pointer;
    margin: 10px;
}

.fichas {
    width: 300px;
    height: 175px;
    border: solid 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jugador-fichas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-fichas {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.ficha {
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
}

.ficha img {
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.intrucciones {
    display: flex;
    justify-content: end;
    background-color: #00008A;
    width: 100%;
    height: 8%;
    align-items: center;
}

.intrucciones div {
    cursor: pointer;
}

.iconos-del-juego {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 15px;
}

.iconos-del-juego p {
    color: #EFEFFF;
    padding-left: 3px;
}

.titulo-del-juego {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    color: #EFEFFF;
    position: absolute;
    left: 0;
}

.titulo-del-juego img {
    border-radius: 50%;
    margin-right: 4px;
}

/* POP PAP DEL JUEGO INSTRUCCIONES */

.pop-pap-instrucciones {
    position: absolute;
    right: 5px;
    bottom: 9%;
    width: 40%;
    height: 70%;
    background-color: #00008A;
}

.pop-pap-controles {
    width: 100%;
    height: 10%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EFEFFF;
}

.pop-pap-controles img {
    margin-right: 2px;
}

.pop-pap-controles p {
    margin-left: 2px;
}

.pop-pap-info {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #EFEFFF;
}


.pop-pap-flecha {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-pap-flecha img {
    height: 80%;
}

.pop-pap-img {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-pap-img img {
    height: 90%;
}

.ayuda-mostrar-instrucciones {
    height: 20px;
    padding: 2px;
    border-radius: 5px;
    background-color: #616161;
    position: absolute;
    bottom: 9%;
    right: 0;
    color: #EFEFFF;
    display: none;
}

.ayuda-pantalla-completa {
    height: 20px;
    padding: 2px;
    border-radius: 5px;
    background-color: #616161;
    position: absolute;
    bottom: 9%;
    right: 0;
    color: #EFEFFF;
    display: none;
}

.ayuda-agregar-favoritos {
    height: 20px;
    padding: 2px;
    border-radius: 5px;
    background-color: #616161;
    position: absolute;
    bottom: 9%;
    right: 6.5%;
    color: #EFEFFF;
    display: none;
}

/* SECCION ANUNCIO */

.anuncio {
    grid-area: anuncio;
    height: 100%;
    width: 100%;
    background-color: #B1B0FE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opcion-juego {
    width: 90%;
    height: 30px;
    background-color: #00008A;
    margin: 5px 0;
    text-align: center;
    cursor: pointer;
    color: #EFEFFF;
    border: solid 2px #00001D;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opcion-juego:hover {
    opacity: 0.8;
}

/* reloj del juego */

#countdown {
    position: absolute;
    top: 0;
    margin: auto;
    margin-top: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
    user-select: none;
}

#countdown-number {
    color: white;
    display: inline-block;
    line-height: 40px;
}

#countdown svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

#countdown svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: white;
    fill: none;
}

.svg-circulo.animar circle {
    animation: countdown 260s linear forwards;
}

.svg-circulo.animar.pausado circle {
    animation-play-state: paused;
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }

    to {
        stroke-dashoffset: 113px;
    }
}


.anuncio img {
    width: 100%;
    height: 100%;
}

/* SECCION MAS JUEGOS */

.mas-juegos {
    grid-area: mas-juegos;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* INFO JUEGO */
.info-juego {
    grid-area: info;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 79, 0.8);
    display: flex;
    flex-direction: column;
}

.info-general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-top: 5px;
}

.contenedor-mitad-info {
    display: flex;
    width: 100%;
    height: 100%;
}

.primera-parte {
    width: 45%;
}

.info-a-completar {
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
    width: 35%;
    margin-top: 5px;
    margin-left: 10%;
}

.info-a-completar a {
    display: flex;
    justify-content: end;
    position: relative;
    object-fit: contain;
    width: 60%;
}

.img-publi {
    width: 100%;
    height: 80%;
}

.contendor-texto-publi {
    display: flex;
    justify-content: start;
    position: absolute;
    width: 100%;
}

.publicidad-juego {
    background-color: #B1B0FE;
    position: absolute;
    padding: 5px;
    font-size: 10px;
    top: 0;
}

.informacion {
    margin: 5px 0;
    border-radius: 10px;
    width: 100%;
    text-align: start;
    color: #EFEFFF;
}

.btn-compartir-contenedor {
    width: 100%;
    display: flex;
    align-items: center;
}

.icono-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 15px;
}


/* SECCION COMENTARIOS */

.comentarios {
    grid-area: comentarios;
    width: 100%;
    height: 100%;
    color: #EFEFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 380px;
}

.comentario {
    background-color: #FFCD99;
    min-height: 100px;
    max-height: 100px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.comentario-enviar {
    background-color: #EFEFFF;
    margin-top: 10px;
}

.comentario-perfil {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
}

.perfil-nombre-comentario {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.perfil-nombre-comentario p {
    color: rgb(0, 0, 29, 0.7);
    margin-left: 2%;
}

.comentario-input {
    width: 100%;
    height: 50%;
    border-top: solid #00001D 2px;
    display: flex;
}

.calificacion-comentario {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5%;
}

.calificacion-comentario p {
    padding-left: 4px;
    color: #00001D;
}

.calificacion-comentario img {
    padding-left: 15%;
}

.el-comentario {
    width: 80%;
    height: 99%;
    display: flex;
    align-items: center;
    color: #00001D !important;
    padding-left: 5%;
}

.icono-perfil {
    padding-left: 5%;
}

.comentario-input-enviar {
    background-color: #EFEFFF;
}

.form-comentario {
    display: flex;
    height: 95%;
    width: 95%;
}

.input-form {
    background-color: transparent;
    margin-left: 2px;
    height: 95%;
    width: 95%;
    border: none;
}

.icono-enviar {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5%;
}

.nombre-perfil {
    color: #00001D;
    list-style: none;
    margin-left: 1%;
}

.input-form::placeholder {
    color: #00001D;

    padding-left: 5%;
}

.titulo {
    display: flex;
    align-items: center;
}

.titulo img {
    margin: 0 5px;
}

.comentarios-realizados {
    width: 100%;
    height: 278px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-y: scroll;
}

.comentarios-realizados::-webkit-scrollbar {
    width: 5px;
}

.comentarios-realizados::-webkit-scrollbar-thumb {
    background-color: #EFEFFF;
    /* Color del pulgar (la barra que se desplaza) */
    border-radius: 10px;
    height: 40%;
    /* Esto no cambiará la altura del pulgar */
}



/* ANUNCIO 2 */

.anuncio2 {
    grid-area: anuncio2;
    width: 100%;
    height: 100%;
}

.anuncio2 img {
    width: 100%;
    height: 100%;
}

/* ARRANCO EL BREADCRUMB */

.breadcrumb-contenedor {
    background-color: #00001D;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.breadcrumb {
    display: flex;
    flex-direction: row;
}

.breadcrumb-cate {
    color: #EFEFFF;
    display: inline-block;
    text-decoration: none;
    margin: 0px 2px;
}

.breadcrumb-link {
    color: #EFEFFF;
    text-decoration: none;
}

.breadcrumb-link:hover {
    color: #B1B0FE;
}

.contenedor-comentario {
    display: flex;
    flex-direction: column;
}

.titulo-comentario {
    display: flex;
    justify-content: center;
    color: #EFEFFF;
}


/* BREAD Y ESTRELLAS */

.bread-estrellas {
    grid-area: br-es;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: center;
}

/* CARD DE MAS JUEGOS */

.card-mas-juegos {
    height: 100%;
    width: 18%;
    background-color: #EFEFFF;
    border: solid 2px #FF8000;
    position: relative;
}

.card-mas-juegos:hover .card-mas-juegos-oculta {
    display: flex;
}

.card-mas-juegos img {
    width: 100%;
    height: 100%;
}

.card-mas-juegos-oculta {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 29, 0.6);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    display: none;
}


.jugar-card-oculta {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.nombre-del-juego {
    display: flex;
    color: #EFEFFF;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}


/* BTN COMPARTIR */

.btn {
    margin: 5px 0;
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    --btn-color: #008F39;
    position: relative;
    padding: 16px 32px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #EFEFFF;
    background: none;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: var(--btn-color);
    border-radius: 10px;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn span,
.btn span span {
    display: inline-flex;
    vertical-align: middle;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn span {
    transition-delay: 0.05s;
}

.btn span:first-child {
    padding-right: 7px;
}

.btn span span {
    margin-left: 8px;
    transition-delay: 0.1s;
}

.btn ul {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transform: translateY(-50%);
}

.btn ul li {
    flex: 1;
}

.btn ul li a {
    display: inline-flex;
    vertical-align: middle;
    transform: translateY(55px);
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn ul li a:hover {
    opacity: 0.5;
}

.btn:hover::before {
    transform: scale(1.2);
}

.btn:hover span,
.btn:hover span span {
    transform: translateY(-55px);
}

.btn:hover ul li a {
    transform: translateY(0);
}

.btn:hover ul li:nth-child(1) a {
    transition-delay: 0.15s;
}

.btn:hover ul li:nth-child(2) a {
    transition-delay: 0.2s;
}

.btn:hover ul li:nth-child(3) a {
    transition-delay: 0.25s;
}


/* BOTONES JUGANDO */
.btn-card {
    position: relative;
    background-color: rgb(230, 34, 77);
    color: #fff;
    border: none;
    font-size: 20px;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}

.card-parte-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    width: 100%;
}

.btn-card {
    border: none;
    width: 160px;
    height: 30px;
    border-radius: 10px;
    padding: 2px 8px;
    background-color: #08CE57;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.btn-card::before {
    content: "";
    background-color: rgb(248, 50, 93);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 500ms ease-in-out;
    display: inline-block;
}

.btn-card:hover::before {
    width: 100%;
}

.quitarFixed {
    position: relative !important;
}