* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #000000;
    height: 8968px;
}

.contenedor-1080 {
    min-width: 1080px;
    max-width: 1080px;
}

/* MAQUETACION PRINCIPAL DE LA PAGINA */

header {
    height: 227px;
    width: 100%;
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0.00) 100%);
    position: absolute;
    top: 0;
    z-index: 2;
}

.seccion-1 {
    width: 100%;
    height: 720px;
    position: absolute;
    top: 126px;
    overflow-x: clip;
}

.seccion-2 {
    height: 844.5px;
    width: 100%;
    background-image: url("../img/seccion-2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 775px;
    z-index: 2;
    overflow-x: clip;
}

.seccion-3 {
    width: 100%;
    height: 1085px;
    background-color: #fff;
    position: absolute;
    top: 1472px;
}

.seccion-4 {
    width: 100%;
    height: 566px;
    background-image: url("../img/seccion-4.png");
    background-size: 100% 100%;
    position: absolute;
    top: 2497px;
    z-index: 1;
}

.seccion-hulk {
    width: 100%;
    height: 769.5px;
    background-color: #000;
    position: absolute;
    top: 3063px;
}

.seccion-5 {
    width: 100%;
    height: 2194.5px;
    background-image: url("../img/seccion-5.png");
    background-size: 100% 100%;
    position: absolute;
    top: 3832.5px;
}

.seccion-6 {
    width: 100%;
    height: 719.861px;
    background-image: url("../img/seccion-6.png");
    background-size: 100% 100%;
    position: absolute;
    top: 6275px;
}

.seccion-7 {
    width: 100%;
    height: 1296px;
    background-image: url("../img/seccion-7.png");
    background-size: 100% 100%;
    position: absolute;
    top: 6994px;
}

.seccion-8 {
    width: 100%;
    height: 80px;
    background: #242424;
    position: absolute;
    top: 8290px;
}

.seccion-9 {
    width: 100%;
    height: 598px;
    background: #5E5E5D;
    position: absolute;
    top: 8370px;
}

/* ---- TERMINA LA MAQUETACION ---- */


/* NAV NAVEGACION */
nav {
    height: 103px;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav .contenedor-1080 {
    position: relative;
}

.btn-comprar {
    width: 200px;
    height: 50px;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    /* Drop Shadow */
    box-shadow: 4px 5px 0px 0px #02187E;
    color: #02187E;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
    /* 18.9px */
    letter-spacing: 2.2px;
    position: absolute;
    top: 19.41%;
    right: -8px;
    /* los 8 px por el borde */
}

.menu-hamburguesa {
    position: absolute;
    top: 19.41%;
    left: -4px;
}

/* ---- TERMINA LA NAVEGACION ---- */

/* SECCION NUMERO 1  */

.cielo {
    width: 100%;
    height: 710.62px;
    background-image: url("../img/cielo.png");
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.edificio-izquierdo {
    width: 35.31%;
    height: 100%;
    background-image: url("../img/edificio-izquierdo.png");
    background-size: 100% 100%;
    position: absolute;
    top: 18px;
    left: -4%;
    z-index: 2;
}

.edificio-medio {
    width: 45%;
    height: 29.65%;
    background-image: url("../img/edificio-medio.png");
    background-size: 100% 100%;
    position: absolute;
    left: 29%;
    bottom: 1.5px;
    z-index: 2;
}

.edificio-derecho {
    background-image: url("../img/edificio-derecho.png");
    background-size: 100% 100%;
    width: 29.21%;
    height: 100.97%;
    position: absolute;
    right: 0;
    bottom: -1%;
    z-index: 2;
}

.spidey {
    background-image: url("../img/spidey.png");
    background-size: 100% 100%;
    width: 46%;
    height: 41.80%;
    position: absolute;
    top: -4.86%;
    left: 25.78%;
    z-index: 2;
}

/* .spiderman-rojo {
    background-image: url("../img/spiderman-rojo.png");
    background-size: 100% 100%;
    width: 36.32%;
    height: 64.58%;
    position: absolute;
    top: 31.52%;
    left: 31.56%;
    z-index: 2;
}

.spiderman-negro {
    background-image: url("../img/spiderman-negro.png");
    background-size: 100% 100%;
    width: 30.70%;
    height: 54.58%;
    position: absolute;
    top: 29%;
    right: 15%;
    z-index: 2;
} */

.spiderman-blanco {
    background-image: url("../img/spiderman-blanco.png");
    background-size: 100% 100%;
    width: 28.12%;
    height: 61.66%;
    position: absolute;
    left: 7%;
    top: 36.38%;
    z-index: 3;
}

.spiderman-rojo-telaraña {
    background-image: url("../img/spiderman-rojo-telaraña.png");
    background-size: 100% 100%;
    width: 67.89%;
    height: 93.19%;
    position: absolute;
    left: 0;
    top: 34.58%;
    z-index: 3;
}

.spiderman-negro-telaraña {
    background-image: url("../img/spiderman-negro-telaraña.png");
    background-size: 100% 100%;
    width: 45.70%;
    height: 61.25%;
    position: absolute;
    right: 0;
    top: 29.02%;
    z-index: 3;
}

/* ----  TERMINA LA SECCION 1 ---- */


/* SECCION 2 */

.seccion-2-1080px {
    min-width: 1080px;
    max-width: 1080px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto
}

.muñeco-verde {
    background-image: url("../img/muñeco-verde.png");
    background-size: 100% 100%;
    width: 553px;
    height: 921px;
    position: absolute;
    top: 131px;
    right: -85px;
    z-index: 3;
}

.titulo-seccion-2 {
    width: 646px;
    height: 114px;
    position: absolute;
    top: 218px;
    left: -5px;
}

.seccion-2-1080px h1 {
    text-align: left;
    color: #FFF;
    font-size: 60px;
    font-weight: 500;
    line-height: 94.5%;
    /* 56.7px */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;

}

/* .seccion-2-1080px p {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */

.subtitulo-seccion-2 {
    width: 586px;
    height: 154px;
    position: absolute;
    top: 356px;
    left: -5px;
}

/* 
.seccion2-img {
    background-image: url("../img/seccion-2-imagen.png");
    background-size: 100% 100%;
    width: 751.65px;
    height: 413.13px;
    position: absolute;
    top: 537.5px;
    right: 322.63px;
    left: -9.72px;
    z-index: 2;
    border-radius: 26px;
    border: 9px solid #FFF;
    box-shadow: 3px 6px 8px 4px rgba(0, 0, 0, 0.15);
    transform: rotate(-2.222deg);
} */


.seccion2-img {
    width: 751.65px;
    height: 413.13px;
    position: absolute;
    top: 537.5px;
    left: -2px;
    overflow: hidden;
    transform: rotate(-2.222deg);
    box-sizing: border-box;
    border: solid 9px #FFFFFF;
    border-radius: 26px;
    box-shadow: 3px 6px 8px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---- TERMINA LA SECCION 2 ---- */


/* SECCION 3 */

.spiderman-card1 {
    background: url("../img/Spiderman1.png");
    width: 332.96px;
    height: 302.691px;
    bottom: 414.31px;
    left: 0;
    position: absolute;
    flex-shrink: 0;
    border-radius: 41px;
    box-sizing: border-box;
    box-shadow: 4px 5px 0px 0px #02187E;

}

.spiderman-card2 {
    background: url("../img/Spiderman2.png");
    width: 332.96px;
    height: 302.691px;
    bottom: 414.31px;
    left: 372.96px;
    position: absolute;
    flex-shrink: 0;
    border-radius: 41px;
    box-sizing: border-box;
    box-shadow: 4px 5px 0px 0px #02187E;

}

.spiderman-card3 {
    background: url("../img/Spiderman3.png");
    width: 332.96px;
    height: 302.691px;
    bottom: 414.31px;
    left: 745.92px;
    position: absolute;
    flex-shrink: 0;
    border-radius: 41px;
    box-sizing: border-box;
    box-shadow: 4px 5px 0px 0px #02187E;

}

.card-texto1 {
    width: 333px;
    height: 218px;
    flex-shrink: 0;
    position: absolute;
    left: 0;
    bottom: 173px;
}

.card-texto2 {
    width: 333px;
    height: 218px;
    flex-shrink: 0;
    position: absolute;
    left: 374px;
    bottom: 173px;
}

.card-texto3 {
    width: 333px;
    height: 218px;
    flex-shrink: 0;
    position: absolute;
    left: 748px;
    bottom: 173px;
}

.texto-card {
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* ----TERMINO LA SECCION 3---- */


/* SECCION 4 */

.seccion-4-parte-1 {
    width: 546.11px;
    height: 326.51px;
    position: absolute;
    top: -99.45px;
    left: 80.73px;
    transform: rotate(-13.078deg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.seccion-4-parte-2 {
    width: 543.22px;
    height: 325.79px;
    position: absolute;
    top: 84.4px;
    left: 79.13px;
    transform: rotate(-26.474deg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.seccion-4-parte-3 {
    width: 546.11px;
    height: 326.51px;
    position: absolute;
    top: 298.38px;
    left: 110px;
    transform: rotate(-36.016deg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

/* ---- TERMINA SECCION 4 ----  */


/* SECCION HULK */

.seccion5-1077 {
    min-width: 1077.06px;
    max-width: 1077.06px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto
}

.cielo-hulk {
    width: 1077.06px;
    height: 527.63px;
    position: absolute;
    top: 389.11px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sombra-cielo {
    box-shadow: 26px 29px 41px 14px rgba(0, 0, 0, 0.15);
}

.arboles-hulk {
    z-index: 2;
}

.pasto-hulk {
    z-index: 3;
}

.personaje-negro-hulk {
    width: 368.31px;
    height: 552.46px;
    position: absolute;
    top: 169.59px;
    right: 198.66px;
    z-index: 4;
    transform: rotate(13.615deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hulk {
    width: 410.11px;
    height: 437.97px;
    position: absolute;
    top: 519.94px;
    right: -30.17px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transform: rotate(7.515deg);
}

.personaje-chicha-hulk {
    width: 451.26px;
    height: 591.44px;
    position: absolute;
    top: 335.78px;
    left: 84.99px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-12.483deg);
}